.terraform/*
*.backup
*.swp
config.sh
override.tf
*_override.tf
*_svc.json
*.out
code-dx-vars.tf
plan.out
*.crt
*.key
env_svc.json
jade-cloudsql-100-vars.tf
jade-us-central-k8s-vars.tf
tfstate_svc.json
variables.tf
terraform.tf
dev.tf
